section {
    width: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

article {
    border: 1px dashed black;
    height: 100px;
    width: 100px;
}

.player1 {
    background-color: lightcoral;
}

.player2 {
    background-color: midnightblue;
}